<table class="table">
    <thead>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Skills</th>
            <th scope="col">Posted On</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of jobs; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{job.title}}</td>
            <td>{{job.description}}</td>
            <td>
                <div class="container">
                    <div *ngFor="let skill of job.skills" class="row">
                        <div class="col-sm">
                            {{skill}}
                        </div>
                    </div>
                </div>
            </td>
            <td>{{job.created_on | date}}</td>
            <td>
                <p *ngIf="job.appliedUsers.indexOf(user._id) != -1">Applied</p>
                <button *ngIf="job.appliedUsers.indexOf(user._id) == -1" type="button" (click)="applyJob(job, i)"
                    class="btn btn-primary">Apply</button>
            </td>
        </tr>
    </tbody>
</table>