<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav>
<form>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" [(ngModel)]="user.password">
    </div>
    <div class="form-group">
        <label for="">Role</label>
        <div class="custom-control custom-radio custom-control-inline">
            <input [(ngModel)]="user.role" value="recruiter" type="radio" id="customRadioInline1"
                name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Recruiter</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input [(ngModel)]="user.role" value="student" type="radio" id="customRadioInline2"
                name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Student</label>
        </div>
    </div>
    <div class="form-group">
        <button type="button" [disabled]="!validateData()" (click)="CreateUser()" class="btn btn-primary">Create</button>
    </div>
    <div class="form-group">
        <button type="button" routerLink="/login" class="btn btn-primary">Login</button>
    </div>
</form>